{% extends 'base.html.twig' %}
{% block page_level_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('theme/plugins/table/datatable/datatables.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('theme/plugins/table/datatable/datatables.css') }}">
{% endblock %}
{% block title %}Courses{% endblock %}
{% block page_title %}Courses{% endblock %}
{% block body %}
    <div class="row layout-top-spacing" id="cancel-row">


        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

            <div class="widget-content widget-content-area br-6">
                <div class="col-1 pull-right p-2" style="right: -90%">
                    <a id="" class="btn btn-dark mb-2 mr-2 rounded-circle" href="{{ path('app_create_course') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-plus">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                    </a>
                </div>
                <table id="zero-config" class="table table-striped" style="width:100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Duration</th>
                        <th>Class ID</th>
                        <th>Tutor</th>
                        <th>Published</th>
                        <th class="no-content">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in courses %}
                        <tr>
                            <td>{{ course.courseName }}</td>
                            <td>{{ course.courseCode }}</td>
                            <td>{{ course.courseDuration }}</td>
                            <td>{{ course.classId }}</td>
                            <td>{{ course.courserTutor }}</td>
                            <td>
                                {% if course.isActive == 1 %}
                                    <span class="badge badge-success">Yes</span>
                                {% else %}
                                    <span class="badge badge-danger"> No</span>
                                {% endif %}

                            </td>
                            <td class="p-2">
                                <a href="{{ path('app_course_header_details', {'course_id': course.id, 'user_role': app.user.roles[0]}) }}">
                                    <img src="{{ asset('enterprise/icons8-plus-and-minus-24.png') }}">
                                    </a>
                                <a href="{{ path('app_create_course', {'course_id': course.id, 'mode': 'edit'}) }}" title="edit course"><img src="{{ asset('enterprise/icons8-book-and-pencil-24.png') }}"></a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_level_script %}
    {# BEGIN PAGE LEVEL SCRIPTS #}
    <script src="{{ asset('theme/plugins/table/datatable/datatables.js') }}"></script>
    <script>
        $('#zero-config').DataTable({
            "dom": "<'dt--top-section'<'row'<'col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center'l><'col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3'f>>>" +
                "<'table-responsive'tr>" +
                "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
            "oLanguage": {
                "oPaginate": {
                    "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>',
                    "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>'
                },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 20
        });
    </script>
    {# END PAGE LEVEL SCRIPTS #}
{% endblock %}

