{% extends 'base.html.twig' %}
{% block page_level_css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('theme/assets/css/widgets/modules-widgets.css') }}">
    <link href="{{ asset('theme/assets/css/scrollspyNav.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('theme/plugins/editors/quill/quill.snow.css') }}">
{% endblock %}
{% block title %}Hello CourseController!{% endblock %}
{% block page_title %}Create Course{% endblock %}

{% block body %}
<div class="row layout-top-spacing">

    <div class="col-1"></div>
    {{ include('feedback_flash_messages.html.twig') }}
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12 layout-spacing">
        <div class="widget widget-card-two">
            <div class="widget-content">

                <div class="media">
                    <div class="w-img">
                        <img src="{{ asset('enterprise/open-book.png') }}" alt="avatar">
                    </div>
                    <div class="media-body">
                        <h6 class="badge badge-info"> {{ course.courseName }} / {{ course.courseCode }}</h6>
                    </div>
                </div>

                <div class="card-bottom-section">
                    <h5>Course Module Information</h5>
                    {{ form_start(courseModuleForm) }}
                    <div class="form-row ">
                        <div class="form-group col-md-4 p-4 m-2" style="border:2px dotted #ffe8a1">
                            {{ form_label(courseModuleForm.AttachmentFile ,"Attachment") }}
                            {{ form_row(courseModuleForm.AttachmentFile) }}
                        </div>
                        <div class="form-group col-md-6">
                            <div class="row form-group p-2 ">
                                {{ form_label(courseModuleForm.ModuleName,"Module Title") }}
                                {{ form_row(courseModuleForm.ModuleName) }}
                            </div><hr>
                            {{ form_label(courseModuleForm.ModuleDescription,"Description") }}
                            {{ form_row(courseModuleForm.ModuleDescription) }}
                        </div>
                    </div>
                    <div class="form-row ">
                        <div class="form-group  col-md-12 p-4">
                            <div class="widget-content widget-content-area card">
                                <div class="badge badge-light p-2 ">
                                    {{ form_label(courseModuleForm.ModuleContent, "Content") }}

                                </div>
                                <br>

                                {{ form_row(courseModuleForm.ModuleContent) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row ">
                        <div class="form-group  col-md-12 p-4">
                            {{ form_label(courseModuleForm.ModuleDuration,'Duration') }}
                            {{ form_row(courseModuleForm.ModuleDuration) }}
                        </div>
                    </div>

                        <div class="form-row p-4">
                            <button class="btn btn-sm bg-primary">Submit</button>
                        </div>
                        {{ form_row(courseModuleForm._token) }}
                        {{ form_end(courseModuleForm,{'render_rest':false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block page_level_script %}
        <script src="{{ asset('theme/assets/js/widgets/modules-widgets.js') }}"></script>
        <script src="{{ asset('theme/assets/js/scrollspyNav.js') }}"></script>
        <script src="{{ asset('theme/plugins/editors/quill/quill.js') }}"></script>
        <script src="{{ asset('theme/plugins/editors/quill/custom-quill.js') }}"></script>
        <script>
            var quill = new Quill('#course_module_form_ModuleContent', {
                modules: {
                    toolbar: [
                        [{header: [1, 2, false]}],
                        ['bold', 'italic', 'underline'],
                        ['image', 'code-block']
                    ]
                },
                placeholder: 'Compose an epic...',
                theme: 'snow'  // or 'bubble'
            });
        </script>


    {% endblock %}
